html {
  /* background-image: url("../../public/spotify-bg.png"); */
  background-color: black;
  background-size: cover;
  background-position: center;
}

body {
  background-image: url("../../public/spotify-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 200%;
}

h2, h1, ul {
  color: rgb(0, 0, 0);
}

h2 {
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  margin: 4% auto;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 20%;
  font-size: 1.1rem;
  font-weight: 500;
  list-style: none;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.54) 1px 1px 10px;
  max-width: 40%;
  padding: 5%;
  width: auto;
  left: 30%;
  right: auto;
  margin-bottom: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 5% auto;
}

div.App {
  margin: 5%;
  padding-left: 20%;
}

div.card {
  display: grid;
  align-items: space-evenly;
  justify-content: center;
}

/* ************************************************************************ */

/* Container */
#root .App .container {
  left: 15%;
  right: 40%;
  padding-left: 50px;
  padding-right: 20%;
  margin-left: 15%;
  margin-right: 20%;
  margin-top: -20px;
}

/* Button */
#root .App .container .input-group-lg .btn-primary {
  background-color: #04810e !important;
  color: rgb(255, 255, 255) !important;
}

#root .App .container .input-group-lg .btn-primary:hover {
  background-color: #07be16 !important;
  box-shadow: 0px 0px 10px 0px #e8eee9 !important;
  border-radius: 5px !important;
  transition: all 0.2s ease-in-out !important;
  scale: 0.78 !important;
}

/* Heading */
#profile h2 {
  font-weight: 700;
  padding-top: 5%;
  margin-bottom: 30px;
  margin-top: 40px;
}

.App .row-cols-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: translateY(25px);
  margin-top: 15%;
}

input.form-control {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1.3px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 5px;
}


/* Container */
#root .App .container {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translatex(-256px) translatey(1px);
  width:600px !important;
  left:0%;
  padding-right:80px;
  padding-left:100px;
  margin-right:100px;
  margin-left:150px;
  margin-top:0px;
  margin-bottom:-21px;
 }
 
div.mb-3.input-group.input-group-lg {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translatex(-256px)
 }

 img.card-img {
  height: 640px;
  width: 640px;
 }