html, body {
  background-image: url("../../public/spotify-bg.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-weight: 500;
  height: 100%;
  padding: 0 17% 10% 17%;
}

h2 {
  padding: 2% 0;
  text-align: center;
  font-size: 6rem;
  margin: 4% auto;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding-left: 0;
  font-size: 1.1rem;
  font-weight: 500;
  list-style: none;
  box-shadow: rgba(0, 0, 0, 0.98) 1px 1px 10px;
  max-width: 100%;
  padding: 5%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, .75);
  border-radius: 10px;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}

div.App {
  margin: 5%;
  padding-left: 0;
}

div.card {
  place-items: center;
  background-color: rgba(0,0,0,.1);
}

div.card-title.h5 {
  font-size: 1rem;
  font-weight: 500;
  color: rgba(0,0,0,1);
}

/* ************************************************************************ */

/* Container */
#root .App .container {
  width: 80%;
  margin: 0 auto;
  padding: 50px;
}

/* Button */
#root .App .container .input-group-lg .btn-primary {
  background-color: #04810e !important;
  color: rgb(255, 255, 255) !important;
}

#root .App .container .input-group-lg .btn-primary:hover {
  background-color: #07be16 !important;
  box-shadow: 0px 0px 10px 0px #e8eee9 !important;
  border-radius: 5px !important;
  transition: all 0.3s ease-in-out !important;
  scale: 1.1 !important;
  margin-left: 20px;
}

/* Heading */
#profile h2 {
  font-weight: 500;
  padding-top: 5%;
  margin-bottom: 30px;
  margin-top: 40px;
  text-align: center;
}

.App .row-cols-3 {
  display: flex;
  align-items: stretch;
  justify-content: center;
  transform: translateY(25px);
  margin-top: 15%;
  overflow: visible;
}

input.form-control {
  background-color: rgba(0, 0, 0, 0.35);
  border: 2px solid rgba(255, 255, 255, 0.645);
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  padding: 5px;
  font-weight: 500;
  font-size: 1rem;
}

/* Container */
#root .App .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.mb-3.input-group.input-group-lg {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Element | http://localhost:3000/ */

#profile > ul:nth-child(3) {
  padding: 10px 16px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 1);
  color: rgb(255, 255, 255);
}

input.form-control:focus {
  background-color: rgba(150, 246, 150, 0.257);
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: 600;
  box-shadow: 3px 3px 3px 3px #000000b6;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 5px;
  font-weight: 600;
  font-size: 1.6rem;
}
.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}
