html {
  background-image: url("../../public/spotify-bg.png");
  background-repeat: repeat;
  margin: 20px;
  padding: 20px;
  background-repeat: repeat;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: rgba(0, 0, 0, 1);
  font-size: 2rem;
  font-family: 'OCR-B', 'OCR-A', 'Courier New', Courier, monospace;
  font-weight: 500;
  padding-top: 50px;
  
}

h2 {
  padding: 2% 0;
  text-align: center;
  font-size: 6rem;
  margin: 4% auto;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding-left: 0;
  font-size: 1.1rem;
  font-weight: 500;
  list-style: none;
  box-shadow: rgba(0, 0, 0, 0.98) 1px 1px 10px;
  max-width: 100%;
  padding: 5%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, .75);
  border-radius: 10px;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}

div.App {
  margin: 5%;
  padding-left: 0;
}

div.card {
  place-items: center;
  background-color: rgba(0,0,0,.1);
}

div.card-title.h5 {
  font-size: 1rem;
  font-weight: 500;
  color: rgba(0,0,0,1);
}

/* ************************************************************************ */

/* Container */
#root .App .container {
  width: 80%;
  margin: 0 auto;
  padding: 50px;
}

/* Button */
#root .App .container .input-group-lg .btn-primary {
  background-color: #04810e !important;
  color: rgb(255, 255, 255) !important;
}

#root .App .container .input-group-lg .btn-primary:hover {
  background-color: #07be16 !important;
  box-shadow: 0px 0px 10px 0px #e8eee9 !important;
  border-radius: 5px !important;
  transition: all 0.3s ease-in-out !important;
  scale: 1.1 !important;
  margin-left: 20px;
}

/* Heading */
#profile h2 {
  font-weight: 500;
  padding-top: 5%;
  margin-bottom: 30px;
  margin-top: 40px;
  text-align: center;
}

.App .row-cols-3 {
  display: flex;
  align-items: stretch;
  justify-content: center;
  transform: translateY(25px);
  margin-top: 15%;
  overflow: visible;
}

input.form-control {
  background-color: rgba(0, 0, 0, 0.35);
  border: 2px solid rgba(255, 255, 255, 0.645);
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  padding: 5px;
  font-weight: 500;
  font-size: 1rem;
}

/* Container */
#root .App .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.mb-3.input-group.input-group-lg {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Element | http://localhost:3000/ */

#profile > ul:nth-child(3) {
  padding: 10px 16px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 1);
  color: rgb(255, 255, 255);
}

input.form-control:focus {
  background-color: rgba(150, 246, 150, 0.257);
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: 600;
  box-shadow: 3px 3px 3px 3px #000000b6;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 5px;
  font-weight: 600;
  font-size: 1.6rem;
}


ul.navbar-nav {
  display: flex;
  flex-direction: row; 
  /* background-color: rgba(235, 232, 232, 0.917); */
  position: sticky;
  top: 5px;
} 
.navbar-nav {
  list-style: none;
  justify-content: space-between;
  gap: 10em;
}

.nav.navbar {
  font-size: 1.2rem;
  background-color: rgb(255, 255, 255);
}

/* ***************************************** */


.content {
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0);
  border-radius: 10px;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
  font-size: 1.1rem;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
  color: #0070f3;
  transition: all 0.3s ease-in-out !important;
  scale: 1.1 !important;
}

input[type="text"] {
  background-color: rgba(0, 0, 0, 0.985);
  border: 1.3px solid #333;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.2rem;
  font-weight: 500;
}

input[type="text"]:focus {
  background-color: rgb(246, 246, 246);
}

header .navbar ul {
  flex-direction:row;

  margin-left:100px;
  margin-right:100px;
  width:100em;
  padding-left:0px;
 }
 
 header nav {
  display: flex;
  flex-direction: row;
  justify-content:space-around !important;
  flex-wrap:wrap;
  align-items:stretch !important;
  padding-left:10px !important;
  padding-right:10px !important;
  margin-left:20px;
  margin-right:10px;
  transform:translatex(0px) translatey(0px);
  color: rgba(0, 0, 0, 0.5))
 } 



/* Inline #1 | http://localhost:3000/ */

div.card-title.h5 {
  font-size: 1rem;
  font-family: arial;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  box-shadow: 1px 1px 1px 1px black;
  background-color: rgba(0,0,0,0.3);
}

/* Element | http://localhost:3000/ */

div.card:nth-child(3) > div:nth-child(2) > div:nth-child(1) {
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 0.036em;
}


input[type="text"] {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-size: 1.2rem;
  font-weight: 500;
  width: 100%;
  max-width: 300px;
}

input[type="text"]:focus {
  background-color: #fff;
  outline: none;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .navbar-nav-menu {
    margin-right: 20px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 40px;
  }

  header {
    padding: 20px;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }
}

div.card-title.h5 {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

a.nav-link {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  gap: 100px;
}