html {
  background-image: url("../spotify-bg.jpg");
  background-size: cover;
  border-width: 10px;
}

h2, h1, li {
  color: rgba(200, 255, 200, 1);
}
h2 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: center;
  font-size: 2.3rem;
  background-color: rgba(0, 0, 0, 0.6);
}

