a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  box-sizing: border-box;
  place-items: center;
  min-width: 100%;
  height: 100%;
}

h1.Header {
  font-size: 2.5rem;
  color: rgb(30, 46, 31);
  display: flex;
  place-items: center;
  flex-direction: row;
  margin-bottom: 1em;
  margin-top: 10%;
  position: center;
  text-align: center;
  font-weight: 600;
  font-family: MICR, OCR-B, monospace;


}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #0a79da;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/public/spotify-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html, body {
  background-image: url("/public/spotify-bg.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-weight: 400;
  padding: 3vh 20vh 40vh 28vh;
}


h2, h1, ul {
  color: rgba(118, 246, 86, 0.5);
}

h2 {
  padding: 2% 0;
  text-align: center;
  font-size: 4rem;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  font-size: 1.1rem;
  font-weight: 500;
  list-style: none;
  box-shadow: rgba(0, 0, 0, 0.54) 1px 1px 10px;
  max-width: 80%;
  padding: 5%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}


div.App {
  margin: 5%;
  padding-left: 0;
}

div.card {
  display: grid;
  place-items: center;
  color: rgba(255,255,255, 1);
  background-color: rgba(2, 61, 24, 0.248);
  box-shadow:rgba(0, 0, 0, 0.2) 1px 1px 4px;
}

div#root {
  height: 100vh;
}
/* ************************************************************************ */

/* Container */
#root .App .container {
  width: 80%;
  margin: 0 auto;
  padding: 50px;
}

/* Button */
#root .App .container .input-group-lg .btn-primary {
  background-color: #04810e !important;
  color: rgba(250, 250, 3, 0) !important;
}

#root .App .container .input-group-lg .btn-primary:focus {
  background-color: #06d817 !important;
  box-shadow: 0px 0px 10px 0px #e0f3e3 !important;
  border-radius: 5px !important;
  transition: all 0.2s ease-in-out !important;
  scale: 0.78 !important;
}

/* Heading */
#profile h2 {
  font-weight: 500;
  padding-top: 5%;
  margin-bottom: 30px;
  margin-top: 40px;
  text-align: center;
}

.App .row-cols-3 {
  display: flex;
  align-items: center;
  transform: translateY(25px);
  margin-top: 15%;
  overflow: visible;
}

input.form-control {
  background-color: rgba(0, 0, 0, 0.518);
  border: 1.3px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 5px;
  width: 5em;
}

/* Container */
#root .App .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px !important;
  margin: 0 auto;
  padding: 50px;
}

div.mb-3.input-group.input-group-lg {
  display: flex;
  width: 20em;
  justify-content: center;
  align-items: center;
}

img.card-img {
  display: block;
  max-width: 100vh;
  height: auto;
}

/* Inline #0 | http://localhost:3000/ */

#root .App .container {
  width: 829px !important;
  margin: 0 auto;
  padding-left: 144px;
  padding-right: 161px;
}

/* Element | http://localhost:3000/ */

#profile > ul:nth-child(3) {
  padding: 10px 16px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.727);
}

.mb-3.input-group.input-group-lg:focus {
  background-color: rgba(239, 244, 203, 0.917);
}
.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}


:root {
  font-family: MICR, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}


h1.Header {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  display: flex;
  place-items: center;
  flex-direction: row;
  margin-bottom: 1em;
  margin-top: 20%;
  text-align: center;
  font-weight: 600;
  font-family: MICR, OCR-B, monospace;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a28;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Add the light color scheme styles here (if needed) */


div.card:hover {
  color: rgba(255,255,255,1);
  background-color: rgba(255, 255, 255, 0.338);
  transition: all 0.4s ease-in-out !important;
  scale: 1.03 !important;
}

/*  ************************************************************************************** */


 /* Navigation */
 #root nav{
  top: 0px;
  margin-top:2em;
  width:100%;
  height:150px;
  background-color:rgba(0, 0, 0, 0.0);
  color: rgb(246, 246, 246);
  position: sticky;
  top: 0px;

 }
/* List */
#navbarToggler ul{
  margin-right:0px;
  margin-left:0px;
  overflow:hidden;
  width:1250px;
  transform: translatex(-256px) translatey(-135px);
 }
 
  
#root.nav {
  background-color: rgba(0, 0, 0, 0.0);
  color: rgba(246, 246, 246, 0);
  width: 200vh;
  height: 100px;
}


ul.navbar-nav.mr-auto.mt-2.mt-lg-1 {
  background-color: rgba(0, 0, 0, 0.138);
  color: rgb(246, 246, 246);
  width: 200%;
  height: 100px;
  box-shadow: rgba(0,0,0,.2)
}

a.nav-link {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  position: sticky;
  top: 0px;
  margin-top: 0px;
}


ul.navbar-nav {
  display: flex;
  align-items: center;
}

ul.navbar-nav li {
  list-style: none;
  margin-right: 10px;
}

ul.navbar-nav li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.2s;
}

ul.navbar-nav li a:hover {
  background-color: #646cff;
}


/* Navigation */
nav {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

ul.navbar-nav {
  display: flex;
  align-items: center;
}

ul.navbar-nav li {
  list-style: none;
  margin-right: 10px;
}

ul.navbar-nav li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.2s;
}

ul.navbar-nav li a:hover {
  background-color: #646cff;
}


/* List */
.navbar ul{
  position:relative;
  top:-9px;
  transform: translatex(-20px) translatey(-130px);
  max-width:100em;
  max-height:1em;
  padding-right:2px;
  padding-top:20px;
  padding-bottom:20px;
  margin-left:-50px;
  margin-right:-50px;
  margin-bottom:10px;
  flex-wrap:nowrap;
  flex:0 0 auto;
  align-self:auto;
  justify-content:space-between;
  align-items:center;
  flex-direction:row;
  position: sticky;
  top: 0px;
 }
 

 