:root {
  font-family: MICR, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  font-synthesis: none;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 10 10;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  /* -moz-osx-font-smoothing: grayscale;
  background-image: url("/public/spotify-bg.png"); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

h1.Header {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  display: flex;
  place-items: center;
  flex-direction: column;
  margin-top: 10%;
  text-align: center;
  font-weight: 600;
  font-family: MICR, OCR-B, monospace;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #eadede57;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #06fa27;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Navigation */
#root nav {
  display:flex;
  flex-direction: column;
  margin: 10, 10;
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.0);
  color: rgb(255, 255, 255);
  position: sticky;
  top: 0px;
}

/* List */
.navbar ul {
  padding-right: 1rem;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.302);
  border-radius: 8px;
  box-shadow: rgba(240, 239, 239, 1);
  text-decoration: none;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: stretch;
  padding: 10 10;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Link */
.navbar-nav .nav-item a {
  font-size: 1em;
  color: rgba(255, 255, 255, 1);
}


/* Container */
#root .App .container {
  width: 829px !important;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 100px;
}

/* Heading */
#profile h2 {
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

.App .row-cols-3 {
  display: flex;
  align-items: center;
  transform: translateY(25px);
  margin-top: 5%;
  overflow: visible;
}

input.form-control {
  background-color: rgba(0, 0, 0, 0.524);
  border: 1.3px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 2px;
}

/* Additional styles can be added below as needed */
.nav-item {
  margin: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: stretch;
  font-size: .9rem;
  font-weight: 500;
  color: rgba(255,255,255,1);
}

a.nav-link {
  font-size: .8rem;
  font-weight: 500;
  color: rgba(255,255,255,1);
}

a.nav-link:hover {
  color: rgba(203, 245, 169, 0.8);
  font-size: 1rem;
  font-weight: 600; 
  text-shadow:1px 1px 1px rgba(238, 244, 197, 0.943);
}

.navbar ul {
  display:flex;
  flex-direction: row;
  position:fixed;
  top: -10px;
  width: 100%;
  right: 0px;
}

#root h1 {
  font-size: 3.4rem;
  display: inline-block;
  color: rgba(255, 255, 255, 1);
  text-shadow: 2px 2px 4px rgba(73, 241, 146, 1);
  position: relative;
  top: -3em;
  
}