/* Background */
html,
body {
  background-image: url("/public/spotify-bg.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-weight: 400;
  height: 100%;
  padding: 3vh 20vh 40vh 28vh;
}

/* Navbar */
div.navbar > nav-link {
  position: sticky;
  top: -2.8em;
  width: 100%;
  padding: 0px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 0.8em;
  border-radius: 20px;
}