

:root {
  font-family: MICR, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vh;
  min-height: 100vh;
}

h1.Header {
  font-size: 2.5rem;
  color: rgb(30, 46, 31);
  display: flex;
  place-items: center;
  flex-direction: column;
  margin-bottom: 1em;
  margin-top: 20%;
  position: center;
  text-align: center;
  font-weight: 600;
  font-family: MICR, OCR-B, monospace;


}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  background-image: url("/public/spotify-bg.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-weight: 400;
  height: 100%;
  padding: 3vh 20vh 40vh 28vh;
}


h2, h1, ul {
  color: rgba(191, 240, 31, 0.5);
}

h2 {
  padding: 2% 0;
  text-align: center;
  font-size: 4rem;
  margin: 4% auto;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  font-size: 1.1rem;
  font-weight: 500;
  list-style: none;
  box-shadow: rgba(0, 0, 0, 0.54) 1px 1px 10px;
  max-width: 80%;
  padding: 5%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

#container {
  display: flex;
  justify-content: center;
  margin: 5% auto;
}

div.App {
  margin: 5%;
  padding-left: 0;
}

div.card {
  display: grid;
  place-items: center;
  color: rgba(255,255,255, 1);
  background-color: rgba(2, 61, 24, 0.248);
  box-shadow:rgba(0, 0, 0, 0.2) 1px 1px 4px;
}

div#root {
  height: 100vh;
}
/* ************************************************************************ */

/* Container */
#root .App .container {
  width: 80%;
  margin: 0 auto;
  padding: 50px;
}

/* Button */
#root .App .container .input-group-lg .btn-primary {
  background-color: #04810e !important;
  color: rgba(250, 250, 3, 0) !important;
}

#root .App .container .input-group-lg .btn-primary:focus {
  background-color: #07be16 !important;
  box-shadow: 0px 0px 10px 0px #e8eee9 !important;
  border-radius: 5px !important;
  transition: all 0.2s ease-in-out !important;
  scale: 0.78 !important;
}

/* Heading */
#profile h2 {
  font-weight: 500;
  padding-top: 5%;
  margin-bottom: 30px;
  margin-top: 40px;
  text-align: center;
}

.App .row-cols-3 {
  display: flex;
  align-items: center;
  transform: translateY(25px);
  margin-top: 15%;
  overflow: visible;
}

input.form-control {
  background-color: rgba(0, 0, 0, 0.198);
  border: 1.3px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 5px;
}

/* Container */
#root .App .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px !important;
  margin: 0 auto;
  padding: 50px;
}

div.mb-3.input-group.input-group-lg {
  display: flex;
  justify-content: center;
  align-items: center;
}

img.card-img {
  display: block;
  max-width: 100vh;
  height: auto;
}

/* Inline #0 | http://localhost:3000/ */

#root .App .container {
  width: 829px !important;
  margin: 0 auto;
  padding-left: 144px;
  padding-right: 161px;
}

/* Element | http://localhost:3000/ */

#profile > ul:nth-child(3) {
  padding: 10px 16px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.727);
}

.mb-3.input-group.input-group-lg:focus {
  background-color: rgba(214, 246, 7, 0.917);
}
.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}


:root {
  font-family: MICR, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/public/spotify-bg.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-weight: 400;
  height: 100%;
  padding: 3vh 20vh 40vh 28vh;
}

h1.Header {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  display: flex;
  place-items: center;
  flex-direction: column;
  margin-bottom: 1em;
  margin-top: 20%;
  text-align: center;
  font-weight: 600;
  font-family: MICR, OCR-B, monospace;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a57;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Add the light color scheme styles here (if needed) */


div.card:hover {
  color: rgba(255,255,255,1);
  background-color: rgba(255,255,255,0.3);
  transition: all 0.4s ease-in-out !important;
  scale: 1.03 !important;
}