

/* List Item */
.navbar .navbar-nav li{
  position:relative;
  left:100px;
 }
 
 /* List */
 .navbar ul{
  transform:translatex(100px) translatey(100px);
  position:relative;
  left:38px;
  margin-right:60px;
  width:1226px;
  white-space:normal;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
 }
 