#root form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 1px 50px;
    padding: 50px 50px;
    font-weight: 600;
    color: rgba(0,0,0,1);
}

input {
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 10px 10px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    border-radius: 15px; 
}


input:hover,
input:focus {
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 10px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 15px;
}

button {
    position: inherit;
    margin: 10px 10px;
    padding: 5px 10px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    display: flex;
    top: 125px;
    flex-direction: row;
    text-shadow: 6, 6, 6, rgb(0, 50, 0);
  }