html, body {
    background-image: url("../../public/spotify-bg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-weight: 500;
    height: 100%;
    padding: 0 17% 10% 17%;
  }