#root App h1 {
    text-align: center;
    background-color: rbga(0,0,0,1);  
    width: 100%;
    display: flex;
    bottom: 5;
    flex-direction: row;
    justify-content: flex-start;
    color: rgba(255,255, 255, 1);
  }

  /* Navigation */
#root nav{
    width:1195% !important;
    height:78px;
    line-height:1em;
    column-count:1;
    word-spacing:7.2px;
    letter-spacing:-2.9px;
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:auto !important;
    align-content:space-around;
    float:none;
    justify-content:space-between;
   }
   
root h1 {
  text-align: center;
  width: 100%;
  display: flex;
  top: 150px;
  flex-direction: row;
  left: 30vw;
  }
   