/* 
html {
    background-image: url("../../public/spotify-bg.jpg");
    background-size: cover;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
} */


body {
    background-image: url("/public/spotify-bg.png");
    background-size: cover;
  }
  
  
h2, h1, li {
    color: #ffffffe6;
    font-weight: 800;
    text-align: center;
}


/* Container */
#root .App .container {
  width: 80%;
  margin: 0 auto;
  padding: 50px;
}

/* Button */
#root .input-group-lg .btn-success {
  background-color: rgb(0, 180, 0) !important;
  color: rgba(255, 255, 255, 1) !important;
  border-radius: 0 15px 15px 0 ;
}

#root .input-group-lg .btn-success:hover,
#root .input-group-lg .btn-success:focus {
    background-color: rgb(0, 220, 0) !important;
    box-shadow: 0px 0px 10px 0px #fcfc02 !important;
    border-radius: 0 15px 15px 0 ;
}

  .App .row-cols-3 {
    display: flex;
    align-items: center;
    transform: translateY(25px);
    margin-top: 15%;
    overflow: visible;
  }

  /* Container */
  #root .App .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px !important;
    margin: 0 auto;
    padding: 20px;
  }

  #root .input-group-lg input[type=input] {
    background-color: rgba(255, 255, 255, 0.4);
    color: rgba(0, 0, 0, 1)
  }
  #root .input-group-lg input[type=input]:focus,
  #root .input-group-lg input[type=input]:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: rgba(0, 0, 0, 1)
  }

  img.card-img {
    display: block;
    max-width: 100vh;
    height: auto;
  }


  a {
    font-weight: 500;
    color: #ffffff;
  }

  a:hover {
    color: #7e84f5;
  }




  button {
    border-radius: 15px 15px 15px 15px;
    padding: 0.5em 1em;
    margin: 0 0.25em;
    font-size: 1em;
    font-weight: bold;
    font-family: inherit;
    background-color: rgba(0,150,0, .8);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    transition: border-color 0.25s;
    position: relative;
    left: 20em;
  }

  button:hover {
    border-color: #646cff;
    background-color: (255,255,255,1);
  }

  button:focus,
  button:focus-visible {
    outline: 8px auto -webkit-focus-ring-color;
  }

  div.card:hover {
    color: rgba(255, 255, 255, 0.509);
    background-color: rgb(255, 255, 255);
  }

  /* Button */
#root .input-group-lg .btn-success{
    top:-3px;
    transform:translatex(696px) translatey(-56px);
   }
   
   /* Body */
   body{
    transform:translatex(0px) translatey(0px);
   }
   
   /* Input */
   #root .input-group-lg input[type=input]{
    padding-left:465px;
    transform: translatex(238px);
   }
   
   /* Input */
   #root .container .input-group-lg input[type=input]{
    width:374px !important;
   }
   
   /* Input group */
   #root .input-group-lg{
    height:20px;
    width:20em;
   }
   
   /* Button */
   #root .container .input-group-lg .btn-success{
    left:12px !important;
    right:auto !important;
   }
   
   /* Heading */
   #root h1{
    position:relative;
    left:361px;
    transform:translatex(0px) translatey(-175px);
   }
   

   p {
    position: relative;
    left: 25vw;
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(0, 0, 0);
    margin: 2em;
   }