html {
  background-image: url("../public/spotify-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}


body {
  font-weight: 500;
  font-family: 'OCR-B', 'Roboto', 'Arial', 'sans-serif';
  background-image: url("../public/spotify-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

h2, h1, li {
  color: rgb(2, 107, 26);

}
h2 {
  display: flex;
  justify-content: center;
  min-height: 80px;
  font-size: 3rem;
  font-weight: 500;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3% 10%;
  margin: 0rem 15rem;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, .9);
  border-radius: 10px;
  list-style-type: none;
}
