/* html {
  background-image: url("/public/spotify-bg.png");
  background-size: cover;
  background-repeat: repeat;
  width: 100%;

} */

body {
  background-image: url("/public/spotify-bg.png");
  background-size: cover;
  background-repeat: repeat;
  width: 100px;
  
}