/* html {
  background-image: url("/public/spotify-bg.png");
  background-size: cover;
  background-repeat: repeat;
  width: 100%;
  
} */

body {
  font-family: OCR-B, Arial, sans-serif;
  background-image: url("/public/spotify-bg.png");
  background-size: cover;
  background-repeat: repeat;
  position: fixed;
  width: 100%;
}




h1 {
  text-align: center;
  display: flex;
  top: 150px;
  flex-direction: row;
  left: 30vw;
}

.container-nav {
  justify-content: center;
  width: 100%;
  display: block;
  position: sticky;
  top: 0;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.314);
  padding: 5px 0px;
  position: sticky;
  top : -20;
  width: 100%;
}

#root nav a  {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
}

.nav-link:hover {
  color: rgb(194, 245, 199);
  font-size: 1.05rem;
  text-shadow: 4, 4, 4, rgb(255, 255, 0);
}


/* Navbar */
#root nav {
      border-radius: 15px;
      height: 20px;
      position: sticky;
      top: 10px;
      width: 100%;
      bottom:auto;
      padding: 30px 20px;
      margin-bottom:15vh;
}

nav.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.navbar .navbar-nav li{
  position:relative;
  left:100px;
 }


 .navbar ul{
  position: fixed;
  top: -20px;
  right: 8em;
  width:100%;
  gap: 1em;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
 }
 

 /* Navbar positioning */
#root .navbar .container-nav{
  left:11px;
  right:auto;
  transform: translatex(33px);
 }

 
 