html {
  background-image: url("../public/spotify-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;

}


body {
  background-color: rgba(0, 0, 0, 0.0);
  font-weight: 500;
  font-style: 
}

h2, h1, li {
  color: rgb(2, 107, 26);
  font-weight: 500;

}
h2 {
  display: flex;
  justify-content: center;
  min-height: 80px;
  font-size: 2.3rem;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 30%;
  font-size: 1.3rem;
}
